@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeSide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeSide {
  animation: fadeSide 1s ease-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  animation: fadeInDown 1s ease-out;
}

/* @media (min-width: 768px) {
  .mob {
    display: none;
  }
} */

@media (max-width: 768px) {
  .desk {
    display: none;
  }
}

.deskLanding {
  background-image: url(./assets/bgLanding.png);
}


